
{%  load static %}
{% csrf_token %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>
    AGENT
  </title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
  
  <script language="JavaScript" type="text/javascript" src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
  <script language="JavaScript" type="text/javascript" src="{% static 'js/jquery-1.12.4.js' %}"></script>
  <script language="JavaScript" type="text/javascript" src="{% static 'js/jquery-ui.js' %}"></script>

  <link rel="stylesheet" href="C:\TFS\Hierarchy\testDjangoApp\static\css\black-dashboard.css">
  <link rel="stylesheet" href="C:\TFS\Hierarchy\testDjangoApp\static\css\faall.css">
  <link rel="stylesheet" href="C:\TFS\Hierarchy\testDjangoApp\static\css\fontawesome.css">

  <style>
    .listItem {
      background: #fff;
      width: auto;
      height: 30px;
      border-radius: 5px;
  
    }

* {
  box-sizing: border-radius;
  font-family: 'Rubik', sans-serif;
}

.items-body {
  padding: 10px;
  /*margin: 10px;*/
  display: grid;
  grid-gap: 10px;
}
body {
  color: white;
}
.items-body-content {
  padding: 5px;
  padding-right: 20px;
  display: grid;
  grid-template-columns: 10fr 1fr;
  background-color: #4c516d;
  font-size: 13px;
  grid-gap: 5px;
  border: 1px solid transparent;
  cursor: pointer;
  border-radius: 10px;
  
}

.items-body-content:hover {
  background-color: #1d8cf8;
  color: white;
}

.items-body-content i {
  align-self: center;
  font-size: 15px;
  font-weight: bold;
  animation: icon 1.5s infinite forwards;
}
.search {
  padding-left: 3rem;
}

@keyframes icon {
  0%,100%{
    transform: translate(0px);
  }
  50% {
    transform: translate(3px);
  }
}

.itemNew{
  display: block;
}
.card2 {
  margin-bottom: 10px;
}

.generalNav {
        height: 11rem;
        z-index: 1;
        overflow-x: hidden;
        }

.lastStack {
    background-color: #1d8cf8;
}

/*SCROLL BAR*/
/* width */
::-webkit-scrollbar {
  width: 10px;
  
}

/* Track */
::-webkit-scrollbar-track {
  background: #1e1e2f;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3e3e4f;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1d8cf8;
}


  </style>
</head>

<body id="page-top" onload="loadBlankChart(window.location.pathname.substr(1));">
  <div class="wrapper">
    <div class="sidebar" data="blue" style="width: 25rem !important; background:#27293d !important;">
      <!--
        Tip 1: You can change the color of the sidebar using: data="blue | green | orange | red"
    -->

      <label style="font-size: 40px; color: white;">Global Time Filter: </label>
      <input type="datetime-local" id="global-min"></input>
      <input type="datetime-local" id="global-max"></input>
      <button id="updateGlobalTime">Update</button>
      
      <div class="sidebar-wrapper navigation">
        <div class="logo">
          <div class="selection d-grid gap-4 col-12">
            <div class="btn btn-info animation-on-hover" id="navigation" onclick="toggleNav(this);"><i class="far fa-compass fa-lg"></i></div>
            <div class="btn animation-on-hover active" id="filter" onclick="toggleNav(this);"><i class="fas fa-cogs fa-lg"></i></div>
            <div class="btn animation-on-hover active" id="future" onclick="toggleNav(this);"><i class="fas fa-square-root-alt fa-lg"></i></div>
          </div>
        </div>
        <hr>
        <div class="navigation" id="nav1">
          <div class="navigationTop">
            <div class="card col-md-12 card2">
                  <div class="card-header">
                    <h5 class="card-category">Navigation</h5>
                    <form class="form-inline my-2 my-lg-9">
                      <input class="form-control mr-sm-12" type="search" placeholder="Search" aria-label="Search">
                      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                  </div>
                  <div class="card-body items-body" id="home">
                    <div id = "root" class="hierarchy items-body-content itemNew lastStack" onclick = "createChildren(this);"> 
                        <i class="fa fa-home" ></i> All Plants
                    </div>
                  </div>
                  <div class="card-body items-body" id="stack">
                    
                  </div>
              </div>
            </div>  
          <div class="sidenav elements">
              <div class="card col-md-12 card2">
                <div class="card-header">
                  <h5 class="card-category">Elements</h5>
                </div>
                <div class="card-body items-body generalNav" id="elementsHolder">
                    <div id = "5FBE1494-A485-11E7-A07F-F81654B3DAFC" class="hierarchy  items-body-content itemNew" onclick = "createChildren(this);"> 
                        <i class="fa fa-caret-right" ></i> Brown Generating Station
                    </div>
                    <div id = "5FBE149A-A485-11E7-A07F-F81654B3DAFC" class="hierarchy items-body-content itemNew" onclick = "createChildren(this);"> 
                        <i class="fa fa-caret-right" ></i> Cane Run Station
                    </div>
                    <div id = "5FBE1491-A485-11E7-A07F-F81654B3DAFC" class="hierarchy items-body-content itemNew" onclick = "createChildren(this);"> 
                        <i class="fa fa-caret-right" ></i> Ghent Generating Plant
                    </div>
                    <div id = "5FBE1497-A485-11E7-A07F-F81654B3DAFC" class="hierarchy items-body-content itemNew" onclick = "createChildren(this);"> 
                        <i class="fa fa-caret-right" ></i> Mill Creek Station
                    </div>
                    <div id = "5FBE148E-A485-11E7-A07F-F81654B3DAFC" class="hierarchy items-body-content itemNew" onclick = "createChildren(this);"> 
                        <i class="fa fa-caret-right" ></i> Trimble County Station
                    </div>
              </div>
            </div>
          </div>
          
          <div class="sidenav">
            <div class="card col-md-12 card2">
                <div class="card-header">
                  <h5 class="card-category">Attributes</h5>
                </div>
                <div class="card-body items-body generalNav" id = "attributesHolder">
                    
              </div>
            </div>
          </div>
        </div>
        <div class="filters" id="nav2" style="display: none;">
          <a href="#" class="btn btn-primary">Filters go Here</a>
        </div>
        <div class="filters" id="nav3" style="display: none;">
          <a href="#" class="btn btn-primary">Coming soon</a>
        </div>
      </div>
    </div>
    <div class="main-panel" data="blue">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle d-inline">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand" href="">PIDATA Wharehouse</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
          <div class="collapse navbar-collapse" id="navigation">
            <ul class="navbar-nav ml-auto">
              <li class="search-bar input-group">
              <button class="btn btn-info animation-on-hover" type="button">PI Trends</button>
              </li>
              <li class="search-bar input-group">
              <button class="btn btn-info animation-on-hover" type="button">PI Explore</button>
              </li>
              <li class="search-bar input-group">
              <button class="btn btn-info animation-on-hover" type="button">PI Advanced</button>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="modal modal-search fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="SEARCH">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <i class="tim-icons icon-simple-remove"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- End Navbar -->
      <div class="content" style="padding: 78px 30px 30px 28rem !important;">
        <div class="row">
          <div class="col-12">
            <div class="card card-chart">
              <div class="card-header ">
                <div class="row">
                  <div class="col-sm-6 text-left">
                    <h5 class="card-category">Total Shipments</h5>
                    <d3fc-canvas use-device-pixel-ratio set-webgl-viewport></d3fc-canvas>
                    <div id="chartimage">
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="chart-area">
                  <canvas id="chartBig1"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>

    function toggleNav(obj) {

        el1 = document.getElementById("nav1")
        el1.style.display = "none"
        el2 = document.getElementById("nav2")
        el2.style.display = "none"
        el3 = document.getElementById("nav3")
        el3.style.display = "none"
        $("#navigation").removeClass("btn-info")
        $("#filter").removeClass("btn-info")
        $("#future").removeClass("btn-info")
        
        if (obj.id == "navigation"){
          document.getElementById("nav1").style.display = "block"
          $("#navigation").addClass("btn-info")
        }
        else if (obj.id =="filter"){
          document.getElementById("nav2").style.display = "block"
          $("#filter").addClass("btn-info")
          
        }
        else if (obj.id =="future"){
          document.getElementById("nav3").style.display = "block"
          $("#future").addClass("btn-info")
        }
    }

        /* function homeNav(el){
            refreshAtts()
            refreshElements()
            el = document.getElementById("stack")
            el.innerHTML = `
                    <div id = "5FBE1494-A485-11E7-A07F-F81654B3DAFC" class="hierarchy  items-body-content itemNew" onclick = "createChildren(this);"> 
                        <i class="fa fa-caret-right" ></i> Brown
                    </div>
                    <div id = "5FBE149A-A485-11E7-A07F-F81654B3DAFC" class="hierarchy items-body-content itemNew" onclick = "createChildren(this);"> 
                        <i class="fa fa-caret-right" ></i> CaneRun
                    </div>
                    <div id = "5FBE1491-A485-11E7-A07F-F81654B3DAFC" class="hierarchy items-body-content itemNew" onclick = "createChildren(this);"> 
                        <i class="fa fa-caret-right" ></i> Ghent
                    </div>
                    <div id = "5FBE1497-A485-11E7-A07F-F81654B3DAFC" class="hierarchy items-body-content itemNew" onclick = "createChildren(this);"> 
                        <i class="fa fa-caret-right" ></i> MillCreek
                    </div>
                    <div id = "5FBE148E-A485-11E7-A07F-F81654B3DAFC" class="hierarchy items-body-content itemNew" onclick = "createChildren(this);"> 
                        <i class="fa fa-caret-right" ></i> Trimble
                    </div>`
        } */

        /*function createChildrenB(parent){
            //alert("Button clicked, id "+el.id+", text"+el.innerHTML);
            refreshAtts()
            el = document.getElementById("attributes")
            var btn = document.createElement("DIV");
            btn.setAttribute("class", "hierarchy")
            //btn.setAttribute("onclick", "createChildren(this);")
            btn.innerHTML = '<i class="fa fa-book"></i> Brown Test Atts';

            el.appendChild(btn)

            //<button class="hierarchy">Brown3 <i class="fa fa-caret-down"></i> <div class="dropdown-container">
        }*/

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        const csrftoken = getCookie('csrftoken');


        function stackManager(object){
          if (object.id !== 'root'){
            if(!object.classList.contains("activeStack")){
              pushStack(object)
            }
            
          }
        }

        function pushStack(object){
          stack = document.getElementById("stack")
          
          copy = object.cloneNode(true);

          copy.classList.add("activeStack");

          $(".lastStack").removeClass("lastStack")
          
          copy.classList.add("lastStack");

          copy.addEventListener("click", function () {popStack(this)});
          stack.appendChild(copy);
        }

        function popStack(object){
          el = document.getElementById("stack")

          while (object != el.lastChild) {
                console.log(el.lastChild)
                el.removeChild(el.lastChild);
            }
          object.classList.add("lastStack");
        }

        function refreshStack(){
          el = document.getElementById("stack")
            while (el.firstChild) {
                el.removeChild(el.lastChild);
            }
        }

        function refreshElements() {
            el = document.getElementById("elementsHolder")
            while (el.firstChild) {
                el.removeChild(el.lastChild);
            }
        }

        function refreshAtts() {
            el = document.getElementById("attributesHolder")
            while (el.firstChild) {
                el.removeChild(el.lastChild);
            }
        }

        function createChildren(object) {
            console.log(object.id)
            requestData(object.id)
        }

        function  requestData(id) {
            $.ajax({
                    url:"data",
                    type: "POST",
                    data: { "csrfmiddlewaretoken": csrftoken, "parent": id, "action": "elem" },
                    success:function(data){
                        var data = JSON.parse(data);
                        elementsDiv = document.getElementById("elementsHolder")
                        attributesDiv = document.getElementById("attributesHolder")
                        stk = document.getElementById(`${id}`)
                        console.log(data)
                        if(!(Object.entries(data["0"]).length == 0 &&  Object.entries(data["1"]).length == 0)){
                            refreshElements()
                            refreshAtts()
                            stackManager(stk)
                            if (id == 'root'){
                              $("#root").addClass("lastStack")
                              refreshAtts()
                              refreshStack()
                              data0 = data["0"]
                              for (var key in data0) {
                                var div = document.createElement("div");
                                div.setAttribute("class", "hierarchy items-body-content itemNew")
                                div.setAttribute("id", key)
                                div.setAttribute("onclick", "createChildren(this);")
                                div.innerHTML = `<i class="fa fa-caret-right"></i> ${data0[key]}`;
                                elementsDiv.appendChild(div);
                              }
                            }
                            else{
                              data0 = data["0"]
                              for (var key in data0) {
                                var div = document.createElement("div");
                                div.setAttribute("class", "hierarchy items-body-content itemNew")
                                div.setAttribute("id", key)
                                div.setAttribute("onclick", "createChildren(this);")
                                div.innerHTML = `<i class="fa fa-caret-right"></i> ${data0[key]}`;
                                elementsDiv.appendChild(div);
                              }
                              data1 = data["1"]
                              for (var key in data1) {
                                var divAtt = document.createElement("div");
                                divAtt.setAttribute("class", "hierarchy items-body-content itemNew")
                                divAtt.setAttribute("id", key)
                                divAtt.setAttribute("draggable", true)
                                divAtt.innerHTML = `<i class="fas fa-layer-group"></i> ${data1[key]}`;
                                attributesDiv.appendChild(divAtt);
                              }
                            }
                            
                        }
                    }
                });
        }

        
  </script>
</body>

</html>


<!--
=========================================================
* * Black Dashboard - v1.0.1
=========================================================

* Product Page: https://www.creative-tim.com/product/black-dashboard
* Copyright 2019 Creative Tim (https://www.creative-tim.com)


* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->